$gridSize: 12;

html{
  box-sizing: border-box;
}

.container, .container2 {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.container2 {
  background-color: rgba(0,0,0,0.6); 
}

.container3{
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
}

$columnWidth: 100%/12;

@for $i from 1 through $gridSize {
  .col-sm-#{$i}{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: ($i*$columnWidth);
    max-width: ($i*$columnWidth);
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  }


@media (min-width: 576px) {
  @for $i from 1 through $gridSize {
    .col-md-#{$i}
    {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: ($i*$columnWidth);
      max-width: ($i*$columnWidth);
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through $gridSize {
    .col-lg-#{$i}
    {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: ($i*$columnWidth);
      max-width: ($i*$columnWidth);
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

@media (max-width: 576px) {
  .col-sm-column {
      flex-direction: column !important;
  }
}

@media (max-width: 576px) {
  .col-sm-hor-center {
    align-items: center !important;
  }
}

@media (max-width: 992px) {
  .col-md-column {
      flex-direction: column !important;
  }
}

